*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 300px;
    margin: 150px auto;
}
.dis{
    background-color: #ff008045;
    padding: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.parent{
    background-color: rgb(203, 237, 13);
    padding:10px ;
    border:1px solid red;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    text-align: center;
}
.child{
    padding: 2px;
    background-color: #b1e22b;
    border: 1px solid red;
}
.child:nth-of-type(17){
    grid-column-start: 1;
    grid-column-end: 3;
}