*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    height: 400px;
    background-color: brown;
}
.web{
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid blue;
}
.image_section{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1200px;
}
.image1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.image2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
img{
    padding: 20px;
}