.blue_div{
    background-color: blue;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -2;
}
.yellow_div{
    background-color: yellow;
    left: 30px;
    top: 30px;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
}
h1{
    margin: 100px;
}
.green_div{
    background-color: rgb(18, 205, 18);
    left: 60px;
    top: 60px;
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.5;
}