.parent{
    background-color: aqua;
    border: 3px solid blue;
}
@media screen and (min-width:500px){
    .parent{
        background-color: rgb(246, 255, 0);
        border: 3px solid rgb(19, 111, 9);
    }
}